<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".bz2" mimeType="application/x-bzip2" />
      <mimeMap fileExtension=".7z" mimeType="application/7z" />
    </staticContent>
  </system.webServer>
</configuration>
